body {
    background-color: #3c3d43;
    font-family: 'Roboto', sans-serif;
    margin:0;
}

.sub-heading {
    font-size: 32px;
}

 /* Hamburger menu styles */
 .hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    z-index: 100;
}

/* Navigation styles */
nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: #3c3d43;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    color: white;
}

nav ul li a {
    margin-right: 30px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    position: relative;
}

nav ul li {
    position: relative;
}

nav ul li a:hover::after {
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: width 0.5s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Css for line and circle on homepage */
#center-line {
    position: absolute;
    left: 49.5%;
    top: 0;
    height: 100vh;
    width: 18px;
    background-color: #E5D3B5;
    z-index: 0;
}

.circle {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;
    background-color: #A5C4C4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    perspective: 1000px;
}

.circle-content {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden; /* Hide the back side when it is rotated */
    transition: transform 0.6s linear;
}

.circle .front {
    z-index: 2;
}

.circle .back {
    transform: rotateY(180deg); /* Flip the back content by 180 degrees */
    z-index: 1;
}

.circle:hover .front {
    transform: rotateY(-180deg);
}

.circle:hover .back {
    transform: rotateY(0deg);
}

.circle span, .circle h1 {
    text-align: center;
}

.circle h1 {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle h1 span {
    font-size: 52px;
    font-weight: bolder;
}

.circle h1 .cookery-school {
    font-size: 18px;
    padding-top: 20px;
}


.circle .back span {
    font-size: 20px;
    color: black; 
}


.location-container {
    position: absolute;
    left: 50%;
    top: 66.67vh;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    z-index: 20;
    width: fit-content;
    background-color: #3c3d43;
    padding-top: 10px;
    padding-bottom: 10px;
}

.location-container span {
    display: block;
    font-weight: bold;
    font-size: 24px;
}

.full-screen-container {
    height: 95vh;
    overflow: hidden;
}

/* end of css for line and circle on homepage */

.full-chefs-kitchen {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
}

.grey-divider {
    height: 80px;
    background-color: #3C3D43;
    position: relative;
    width: 100%;
}

.blue-divider {
    background-color: #A5C4C4; 
    height: 80px;
    width: 100%;
    position: relative;
}

.centered-michelin {
    position: absolute;
    width: 100px;
    height: auto;
    top: 40%;
    right: 6%;
    z-index: 40;
}

.circle-for-icon {
    position: absolute;
    top: 36%;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: #3C3D43;
    border-radius: 50%;
    display: flex;
    z-index: 15;
    justify-content: center;
    align-items: center;
}

/* logos for circles */

.school-logo {
    width: 60px;
    height: 60px;
    z-index: 100;
    margin-bottom: 10px;
}

.book-logo {
    width: 50px;
    height: 50px;
    z-index: 100;
}

/* containers for sections */

.bkg-container-one {
    height: fit-content;
    background-color: #E5D3B5;
    display: flex;
}

.bkg-container-one h2 {
    margin-left:60px;
    margin-top: 20px;
    margin-right: 40px;
    
}

.dashed-line {
    border-left: 2px dashed black;
    margin-left: 150px;
}

.text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
}

.text-section {
    flex: 5;
    padding-right: 20px; 
}
.image-section {
    flex: 1;
}
.image-section > img {
    height: auto;
}

/* Target the school image*/
.image-section:nth-child(1) img {
    margin-bottom: 40px;
}

/* Target the kitchen image */
.image-section:nth-child(2) img {
    margin-bottom: 40px;
}

.text-section-courses {
    padding-left: 40px;
}

/* padding between links */
ul.courses-links li {
    padding-bottom: 20px; 
}
ul.courses-links li a {
    text-decoration: none;
    color: black;
    margin-bottom: 50px;
    text-decoration: underline;
}

ul.courses-links li a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

/* instagram section */
.instagram h2 {
    margin-left: 210px;
    color: white;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    flex: 1;
    max-width: 40%;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
}

.insta-info {
    color: white;
    text-transform: uppercase;
    margin-left: 210px;
}

#date {
    text-transform: uppercase;
}

/* footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    list-style-type: none;
  }
  
  .footer-column {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    text-align: left; /* Keep text alignment to the left */
    flex: 1;
    margin: 10px;
    list-style-type: none;
    width: 100%;
}

.footer-column ul {
    list-style-type: none;
}

.content-wrapper {
    display: inline-flex; 
    flex-direction: column; /* Align items in a column */
    align-items: flex-start; /* Align items to the start (left) of the wrapper */
    list-style-type: none;
}


#column1 ul, #column2 ul, #column3 ul {
    padding: 0;
    min-height: 100px;
}

#column2 ul li, #column3 ul li{
    padding-bottom: 10px;
}

  #socials {
    display: flex;
    gap: 20px;
  }

/* Media query for responsive design */
@media (max-width: 1250px) {
    nav ul {
        display: none;
        position: absolute;
        top: -16px; 
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: #3c3d43; 
        padding-top: 50px;
        min-height: 100vh;
        z-index: 40;
    }
    
    .hamburger {
        display: block;
        z-index: 50;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        align-items: start;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links li a {
        font-size: 24px;
    }
}

/* media queries for screen sizes <854px */
@media (max-width:854px) {
    .text-container {
        flex-direction: column-reverse;
    }

    .text-section-courses {
        padding-left: 0;
    }
}

/* media queries for screen sizes <600px */
@media (max-width: 600px) {

    .sub-heading {
        font-size: 24px;
    }

    .centered-michelin {
        width: 50px;
        top: 50%;
        right: 3%;
    }

    .grey-divider {
        height: 40px;
        background-color: #3C3D43;
        position: relative;
        width: 100%;
    }

    .blue-divider {
        background-color: #A5C4C4; 
        height: 40px;
        width: 100%;
    }

    #center-line {
        width: 10px;
    }

    .circle {
        width: 200px;
        height: 200px;
   
    }
    .circle h1 span {
        font-size: 24px;
        font-weight: bolder;
    }
    
    .circle h1 .cookery-school {
        font-size: 18px;
        padding-top: 20px; 
    }

  
    .text-section, .image-section {
        flex: none;
        padding-right: 0;
    }

    .text-section-courses {
        padding-left: 0;
    }

    .circle-for-icon {
        position: absolute;
        top: 36%;
        left: 20px;
        width: 60px;
        height: 60px;
    }
    
    /* logos for circles */
    
    .school-logo {
        width: 40px;
        height: 40px;
        z-index: 100;
        margin-bottom: 4px;
    }

    .book-logo {
        width: 30px;
        height: 30px;
        z-index: 100;
    }

    .dashed-line {
        border-left: 2px dashed black;
        margin-left: 50px;
    }

    .text-container {
        margin-left: 20px;
        margin-right:20px;
    }

        /* Target the school image*/
    .image-section:nth-child(1) img {
        margin-bottom: 60px;
        text-align: center;
    }

    /* Target the kitchen image */
    .image-section:nth-child(2) img {
        margin-bottom: 0px;
        margin-top:10px;
        text-align: center;
    }

    /* adjust positioning for h2 */
    .bkg-container-one h2 {
        margin-left:45px;
        margin-top: 10px;
    }

    .text-section {
        padding-top: 30px;
        padding-bottom: 40px;
        font-size: 16px;
    }

    /* instagram section */

    .image {
        flex: 1;
        max-width: 23%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    .insta-info {
        color: white;
        text-transform: uppercase;
        margin-left: 50px;
        font-size:12px;
    }

    .instagram h2 {
        margin-left: 50px;
        color: white;
        font-size: 24px;
    }

    /* footer */

    footer {
        flex-direction: column;
        align-items: center;
       
      }
    
      #column1 {
        order: -1; /* Makes sure Column 1 is at the top */
        flex-basis: 100%; /* Take full width to center content */
        text-align: center;
       
      }
      
    
     
      footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    
    
}