

body {
    background-color: #3c3d43;
    font-family: 'Roboto', sans-serif;
    margin:0;
}

 /* Hamburger menu styles */
 .hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

/* Navigation styles */
nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: #3c3d43;
    color: white;

}

nav ul {
    display: flex;
    list-style: none;
    color: white;
}

nav ul li a {
    margin-right: 30px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

/* Css for line and circle on homepage */
#center-line {
    position: fixed;
    left: 50%;
    top: 0;
    height: 100vh;
    width: 18px;
    background-color: #E5D3B5;
    z-index: 10;
}

.circle {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;
    background-color: #A5C4C4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
}

.circle span {
    text-align: center;
}

.circle h1 {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle h1 span {
    font-size: 36px;font-weight: bolder;
}

.circle h1 .cookery-school {
    font-size: 16px; 
}

/* end of code for line and circle on home page */

/* Media query for responsive design */
@media (max-width: 600px) {
    nav ul {
        display: none;
        position: absolute;
        top: 40px; 
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: #3c3d43; 
        padding: 10px 20px;
        box-sizing: border-box;
    }
    
    .hamburger {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        align-items: left;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links li a {
        font-size: 24px;
    }
}
