body {
    background-color: #3c3d43;
    font-family: 'Roboto', sans-serif;
    margin:0;
}

 /* Hamburger menu styles */
 .hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

/* Navigation styles */
nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: #3c3d43;
    color: white;

}

nav ul {
    display: flex;
    list-style: none;
    color: white;
}

nav ul li a {
    margin-right: 30px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    position: relative;
}

nav ul li {
    position: relative;
}

nav ul li a:hover::after {
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: width 0.5s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Css for line and circle on homepage */
#center-line {
    position: absolute;
    left: 49.5%;
    top: 0;
    height: 120vh;
    width: 18px;
    background-color: #E5D3B5;
    z-index: 10;
}

.circle {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;
    background-color: #A5C4C4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
}

.circle span {
    text-align: center;
}

.circle h1 {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle h1 span {
    font-size: 36px;font-weight: bolder;
}

.circle h1 .cookery-school {
    font-size: 18px;
    padding-top: 20px; 
}
.location-container {
    position: absolute;
    left: 50%;
    top: 66.67vh;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    z-index: 20;
    width: fit-content;
    background-color: #3c3d43;
    padding-top: 10px;
    padding-bottom: 10px;
}

.location-container span {
    display: block;
    font-weight: bold;
}

.full-screen-container {
    height: 100vh;
    overflow: hidden;
}

/* end of css for line and circle on homepage */

.full-chefs-kitchen {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 30;
}

/* Media query for responsive design */
@media (max-width: 1250px) {
    nav ul {
        display: none;
        position: absolute;
        top: -16px; 
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: #3c3d43; 
        padding-top: 50px;
        min-height: 100vh;
        z-index: 40;
    }
    
    .hamburger {
        display: block;
        z-index: 50;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        align-items: start;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links li a {
        font-size: 24px;
    }
}
